---
import { getCollection } from "astro:content";
import BaseBlogPost from "../../layouts/BaseBlogPost.astro";
import BlogPreview from "../../components/BlogPreview.astro";
const pageTitle = "Poems";
const allPosts = await getCollection("poems");
const sortedPosts = allPosts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<BaseBlogPost title={pageTitle}>
  <div class="border border-dashed bg-[url('/public/background.png')] border-gray-500 p-4 my-4 mx-4">
  <h1 class="bg-[url('/public/background.png')] md:text-5xl title text-3xl article-title mb-10">Poems</h1>
  <ul class="prose bg-[url('/public/background.png')]">
    {
      sortedPosts.map((post) => (
        <BlogPreview title={post.data.title} date={post.data.date} body={post.body} slug={post.slug} type="poems"/>
      ))
    }
  </ul></div>
</BaseBlogPost>

<style>
  .title {
    font-family: "Playfair Display", serif;
    font-weight: 400 !important;
    font-style: italic;
  }
</style>
