---
import { getCollection } from "astro:content";
import BaseBlogPost from "../../layouts/BaseBlogPost.astro";
import BlogPreview from "../../components/BlogPreview.astro";
const pageTitle = "Mahabharat Reviews";
const allPosts = await getCollection("mahabharat");
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<BaseBlogPost title={pageTitle}>
  <div class="border  border-dashed border-gray-500 p-4 my-4 mx-4">
    <h1 class="md:text-5xl title text-3xl article-title mb-10">
      Mahabharat Reviews (Discontinued)
    </h1>
    <p class="md:text-xl">
      This show is close to my heart as it was being rerun when I was a child
      and I remember watching it everyday. This series started as an attempt to
      provide a reading companion with the TV series. It is inspired by Alan
      Sepinwall's reviews for *The wire*. Of course, both the shows are vastly
      different, but I hope I will be able to do this justice. This show is
      about the Indian epic Mahabharat, and it is nearly identical with the
      source material, with a few hiccups here and there. It is ingrained in the
      culture of India as the show that everyone watched when they were kids. No
      matter the generation, at some point in time this show has always aired on
      TV since 1988. I hope these episode reviews will serve as a faithful
      reading companion when you watch the show.
    </p><p>
      <b
        >P.S. These reviews only cover the actual show with 94 episodes and not
        the pre-sequel-prequels that came in the 90s because they were clearly a
        cashgrab riding on the success of the original.</b
      >
      <hr class="border-b border-gray-700" />
    <ul class="prose ">
      {
        sortedPosts.map((post) => (
          <BlogPreview
            title={post.data.title}
            date={post.data.date}
            body={post.body}
            slug={post.slug}
            type="mahabharat"
          />
        ))
      }
    </ul>
  </div>
</BaseBlogPost>

<style>
  .title {
    font-family: "Playfair Display", serif;
    font-weight: 400 !important;
    font-style: italic;
  }
</style>
